<%- include("header") -%>
<h3>This is about page</h3>
<p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Voluptas sequi a eveniet! Mollitia quaerat minima quasi natus quos fugit ipsum asperiores blanditiis voluptatem laboriosam ullam explicabo sequi quidem dignissimos ducimus ad aspernatur provident necessitatibus, veritatis quas sint distinctio alias, ab culpa. In porro explicabo magni similique expedita modi nemo ducimus!</p>
<%- include("footer") -%>